body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
}

#title {
    height: 210px;
    width: 300px;
}

#board {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-style: bold;
    border-color: red; 
    border-radius: 7px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue);  
}

h1 {
     font-family: fantasy;
     font-stretch: expanded;
     font-weight: 90;
}

h3 {
     font-family: fantasy;
     font-stretch: expanded;
     font-weight: 70;
}

#board img {
    width: 120px;
    height: 120px;
    
}

nav {
    border-radius: 7px;
    margin-bottom: 7px;
    align-items: center;
    
}

li {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    list-style: none;
}
 
 a{
  text-decoration: none;
  padding: 5px 30px;
  font-size: 20px;
  color: white;
  transition: all .25s;
  background-color: red;
  border-radius: 17px;
}


li a:hover{
  background: deepskyblue;
  text-transform: uppercase;
  border-radius: 10px;
 }

#game {
    border: 5px;
    border-radius: 10px;
    border-color: red;

}

.social-items {
    color: white;
    background: none;
}


li {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    list-style: none;
    color: white;
}
 
 a{
  text-decoration: none;
  padding: 5px 30px;
  font-size: 20px;
  color: white;
  transition: all .25s;
  background-color: none;
  border-radius: 17px;
}

i {
    color: white;
    background-color: white;
}

.social-icon-list{
    display: flex;
    align-items: center;
    font-size: var(--fs-icon);
    position: relative;
    bottom: 10px;
    left: 0;
    cursor: pointer;
    opacity: 0;
    animation: icon-list 1.5s ease forwards;
}
.social-icon-list i{
    padding: 0 10px ;
    transition: all 0.5s ease;

}
.social-icon-list i:hover{
    transform: translateY(-10px) scale(1.1); 
    color: red;
}


button {
    border-radius: 8px;
    border: 1px solid red;
    background-color: white;
    color: red;
}
